/* Import Hanken Grotesk font */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  background: hsl(221, 100%, 96%);
  color: hsl(224, 30%, 27%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  overflow: hidden;
}

.result {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.result h2 {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 20px;
}

.score-circle {
  width: 140px;
  height: 140px;
  margin: 0 auto 20px;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid hsla(260, 72%, 46%, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.score-circle h1 {
  font-size: 3rem;
  font-weight: 800;
}

.score-circle p {
  opacity: 0.6;
  font-weight: 500;
}

.result h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.result p {
  font-size: 1rem;
  opacity: 0.75;
  max-width: 260px;
  margin: 0 auto;
}

.summary {
  padding: 30px;
  background: hsl(0, 0%, 100%);
}

.summary h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.summary-item span {
  color: hsl(224, 30%, 27%);
}

.summary-item strong {
  color: hsl(224, 30%, 27%);
}

.reaction {
  background: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}

.memory {
  background: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}

.verbal {
  background: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}

.visual {
  background: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background-color: hsl(224, 30%, 27%);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.3s;
}


button:hover {
  background-color: hsl(224, 30%, 20%);
}

/* Responsive Design */
@media (min-width: 768px) {
  .upper {
    display: flex;
    flex-direction: row;
    border-radius: 25px;
  }

  .result {
    flex: 1;
    border-radius: 25px ;
  }

  .summary {
    flex: 1;
    border-radius: 0 25px 25px 0;
  }
}
